ATLASSIAN_CLIENT_ID = ""
ATLASSIAN_CLIENT_SECRET = ""
ATLASSIAN_CALLBACK_URI="http://localhost:8000/api/v1/auth/jira/callback"
FAILED_OAUTH_URL ="http://localhost:3000/oauth/failiure"
SUCCESS_OAUTH_URL="http://localhost:3000/oauth/success"
AWS_DYNAMO_DB_REGION=""
AWS_DYNAMO_DB_ACCESS_KEY=""
AWS_DYNAMO_DB_ACCESS_SECRET=""
AWS_COGNITO_DOMAIN=""
AWS_COGNITO_REGION=""
AWS_COGNITO_CLIENT_ID=""
AWS_COGNITO_USER_POOL_ID=""
AWS_COGNITO_REDIRECT_URI=""
AWS_COGNITO_CLIENT_SECRET=""
AWS_BEDROCK_REGION="us-east-1"
STRANDS_MODEL_ID="global.anthropic.claude-sonnet-4-6"
OBSIDIAN_VAULT_PATH="./vault"
SLACK_BOT_TOKEN=""
